<?xml version="1.0" encoding="utf-8"?>
<!--
   Copyright (c) 2023, the Pixnews project authors and contributors. Please see the AUTHORS file for details.
   Use of this source code is governed by the Apache 2.0 license that can be found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="ru.pixnews.feature.featuretoggles.FeatureToggleListActivity"
            android:exported="true"
            android:label="@string/title_activity_featuretoggles"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity="${applicationId}.featuretoggles"
            android:theme="@style/Theme.Pixnews"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
